<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show the vlandb file </title>
</head>
<body>

<form method='post'>
{% csrf_token %}
<input type="submit" value="Show">
</form>

<textarea rows="90" cols="120" >
{{vlandb_txt}}
</textarea>

<br>
<a href= "http://10.134.140.71:8000/add">  Add</a>

<a href= "http://10.134.140.71:8000/search">  Search</a>

<a href="http://10.134.140.71:8000/modify">  Modify</a>

<a href="http://10.134.140.71:8000/comment">  Comment</a>

<a href="http://10.134.140.71:8000/show">  Show</a>



</body>
</html>
